:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



.title-section{
  color: silver;
}

.custom-button {
  background-color: #0BAD02;
  color: black;
  font-weight: 550;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;

}

.button-icon {
  margin-right: 8px;
}

.button-text {
  font-size: 16px;
}

.custom-button:hover {
  background-color: #067400;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  width: 100%;
}

.title {
  flex: 1;
  text-align: center;
  margin: 0;
}

.logout {
  margin: 0;
  cursor: pointer;
  color: #0BAD02;
  font-weight: bold;
}

.header .logout:hover {
  color: #09a201;
}
/* Estilo personalizado para los botones */
/* Estilo personalizado para los botones */
.btn-custom {
  height: 50px; /* Aumentar la altura del botón */
  cursor: pointer; /* Cambiar el cursor a la forma de mano */
  padding: 10px 20px; /* Agregar un poco de espacio interno */
  background-color: #0BAD02; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  margin: 10px; /* Separar los botones */
  transition: background-color 0.3s; /* Suavizar la transición del color de fondo */
}

/* Efecto hover */
.btn-custom:hover {
  background-color: #088D02; /* Color de fondo al pasar el cursor */
}

/* Estilo para el contenedor de botones */
.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Layout responsive */
@media (min-width: 640px) {
  .button-group {
    justify-content: space-between;
  }
}


@media (min-width: 1024px) {
  .button-group {
    flex-wrap: wrap; /* Ajustar para tres por fila */
  }
  .btn-custom {
    flex: 1 1 calc(33.333% - 40px); /* Tres botones por fila */
  }
}

@media (min-width: 1280px) {
  .button-group {
    flex-wrap: wrap; /* Ajustar para dos por fila */
  }
  .btn-custom {
    flex: 1 1 calc(50% - 40px); /* Dos botones por fila */
  }
}

.list-content{
  padding-top: 20px;
}

.list-item{
  color: white;
}

.list-item:hover{
  background-color: #4e4e4e;
  border-radius: 16px;
}

.avatar-modified{
  background-color: #0BAD02 !important;
}
.arrowUp{
  color: #078300;
}

.arrowDown{
  color: #b80000;
}

.arrowEqual{
  color: #ffffff;
}

.change-icon{
  color: white !important;
}

